<%- include("./head.ejs"); %>
<title>Inloggen</title>
<h1>Inloggen</h1>
<p>Je bent nu ingelogd!</p> 

<section id="choiceButton">
    <button id="update" type="submit" >Update profiel</button>
    <button id="remove" type="submit" >Verwijder profiel</button>
</section>

<%- include("./tail.ejs"); %>

