<%- include("./head.ejs"); %>
<title>Inloggen</title>
<h1>Inloggen</h1>
<p>Je bent nu ingelogd!</p> 

<section id="container">
<form class="choiceButton" action=/updateProfile method=get id="choiceButton">
    <button id="update" >Update profiel</button>
 </form>

 <form class="choiceButton" action=/deleteProfile method=post>
    <button id="remove" >Verwijder profiel</button>
 </form>
</section>
<%- include("./tail.ejs"); %>

